
body {
    background-image: url("https://cdn.discordapp.com/attachments/796508981879111711/797701723690237972/background-header_1.png");
}
#main frame{
    width: 1440px;
    height: 857px;
}
.right {
    position:absolute;
    right: 0px;
    padding: 20px;
}

#subPageButton {
    font-size: small;
    color: #559461;
    background: transparent;
    border: none !important;
}
#header {
    display: flex;
}

a, a:visited {
    color:inherit;
    text-decoration: none;
}

h1 {
    X-constraint: Left;
    Y-constraint: Top;
    color: #559461;
    font-family: Helvetica;
    font-size: 49.5px;
    align: Left;
    vertical-align: Center;
    letter-spacing: 0.49px;

}
#sp1 {
    text-align: center;
    color: #949494;
    font-size: medium;
    padding-right: 200px;
    padding-left: 200px;
    font-family: Helvetica;
}

#list {
    text-align: center;
    color: #000000;
    font-size: medium;
    padding-right: 200px;
    padding-left: 200px;
    font-family: Helvetica;
}

#message {
    color: #1B1B1B;
    font-family: Helvetica;
    font-style: bold;
    font-size: 350%;
    text-align: center;
}
#donationButton {
    border-radius: 25px;
    background-color: #C4C4C4;
    color: black;
    font-family: Helvetica;
    padding-left: 10px;
    padding-right: 10px;
}

#searchButton {
    alignment: center;
    border-radius: 25px;
    background-color: #FF7F91;
    border: none !important;
    color: white;
    font-family: Helvetica;
    padding: 10px 60px;
    margin-left: 600px;
    margin-right: 600px;
    cursor: pointer;
}

#suggestionBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    height: 221px;
    border-radius: 25px;
    background-color: #C4C4C4;
    opacity: 60%;
    padding: 10px 60px;
}
.center {
    margin: auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields {
    width: 200px;
    color: #FF7F91;
    font-family: Helvetica;
    font-size: large;
}
.column{
    display: inline-block;
}

.flex-container {
    display: flex;
}
.table{
    display: table;
    margin:0 auto;
}

.flex-child{
    flex: 1;
}

input[type=text], select {
    width: 50%;
    padding: 12px 15px;
    /*margin: 8px 0;*/
    margin-left: 600px;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 25px;
    /*box-sizing: border-box;*/
}

input[type=submit] {
    alignment: center;
    border-radius: 25px;
    background-color: #FF7F91;
    border: none !important;
    color: white;
    font-family: Helvetica;
    padding: 10px 60px;
    margin-left: 600px;
    margin-right: 600px;

    /*padding:10px 60px;*/
    /*font-family: Helvetica;*/
    /*width: 15%;*/
    /*background-color: #FF7F91;*/
    /*color: white;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*border-radius: 24px;*/
    cursor: pointer;
}

#searchButton:hover {
    background-color: #ff667b;
}

/*.flex-child left{*/
/*    child-align: right;*/
/*}*/

div.row-rap {
    width: 100%;
    padding-top: 15px;
}

div.row-rap .right, div.row-rap .left {
    width: 80%;
    float: left;
    font-family: Helvetica;
    color: black;
}











