/*h1 {width: 257px;*/
/*    height: 58px;*/
/*    top: 21px;*/
/*    left: 109px;*/
body {
    background-image: url("https://cdn.discordapp.com/attachments/796508981879111711/797701723690237972/background-header_1.png");
}
#main frame{
    width: 1440px;
    height: 857px;
}

#subPageButton {
    color: #559461;
    background: transparent;
    border: none !important;
}

h1 {
    X-constraint: Left;
    Y-constraint: Top;
    color: #559461;
    font-family: Helvetica;
    font-size: 49.5px;
    align: Left;
    vertical-align: Center;
    letter-spacing: 0.49px;

}
#sp1 {
    text-align: center;
    color: #949494;
    font-size: medium;
}
/*#heart {*/
/*    width: 35.75px;*/
/*    height: 41.24px;*/
/*    top:25.7px;*/
/*    left:369.5px;*/
/*    X: 369.5px;*/
/*    Y: 25.75px;*/
/*    W: 35.75px;*/
/*    H: 41.25px;*/
/*    X-constraint: Scale;*/
/*    Y-constraint: Scale;*/
/*    color: #FF7F91;*/
/*}*/

#header {
    display: flex;
}

#message {
    /*X: 0px;*/
    /*Y: 0px;*/
    /*W: 640px;*/
    /*H: 110.82px;*/
    color: #1B1B1B;
    font-family: Helvetica;
    font-style: bold;
    font-size: 350%;
    text-align: center;
    padding: 10px 150px;
}
#donationButton {
    border-radius: 25px;
    background-color: #C4C4C4;
    color: black;
    font-family: Helvetica;
    padding-left: 10px;
    padding-right: 10px;
}

#searchButton {
    border-radius: 25px;
    background-color: #FF7F91;
    border: none !important;
    color: white;
    font-family: Helvetica;
    padding: 10px 50px;
}

#suggestionBox {
    border-radius: 25px;
    background-color: #C4C4C4;
    opacity: 60%;
    padding: 10px 60px;
}

#fields {
    color: #FF7F91;
    font-family: Helvetica;
    font-size: large;
}






